<html>
  <head>
    <title>HTML website Routing</title>
    <style>
      p {
        margin: 0;
        padding-left: 5px;
      }
      .todo-item {
        border: 1px solid silver;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .nav-item {
        margin-left: 5px;
        list-style: none;
        background-color: silver;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul style="display: flex; align-items: center">
        <li class="nav-item">
          <a href="Home" style="text-decoration: none">Home</a>
        </li>
        <li class="nav-item">
          <a href="About" style="text-decoration: none">About</a>
        </li>
        <li class="nav-item">
          <a href="Todos" style="text-decoration: none">Todos</a>
        </li>
        <li class="nav-item">
          <a href="read-file" style="text-decoration: none">Read File</a>
        </li>
        <li class="nav-item">
          <a href="read-file-using-pipe" style="text-decoration: none"
            >Read File Using Pipe</a
          >
        </li>
        <li class="nav-item">
          <a href="write-file" style="text-decoration: none">Write File</a>
        </li>
        <li class="nav-item">
          <a href="Contact" style="text-decoration: none">Contact</a>
        </li>
      </ul>
    </nav>
    <div>{{Content}}</div>
  </body>
</html>
